@{
    ViewData["Title"] = "Home Page";
}

        <div class="container">
            <h1>Calculadora</h1>
                <form asp-controller="Calculadora" asp-action="Somar" method="post">
                    <p>Numero 1</p>
                    <input class="form-control" type="text" name="n°1"/>
                    <p>Numero 2</p>
                    <input class="form-control" type="text" name="n°2" />
                    <br/>
                    <button class="btn btn-primary" type="submit">Calcular</button>
                    <button class="btn btn-danger" type="reset">Limpar</button>
                    <br/>
                    <div>
                    <label>Resultado: </label>
                    </div>
                </form>
        </div>